.mission__sections .card__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    column-gap: 5px;
    flex-wrap:wrap ;
    padding-top: 45px;
    justify-content: center;
}

.mission__sections .card__list  li {
    width: calc(20% - 5px);
    height: auto;
    border: 1px solid #A95454;
    border-radius: 130px 130px 0px 0px;
    text-align:center;
    padding: 30px 10px 10px 10px;
    min-width: 230px;
    margin-bottom: 30px;
}
.mission__sections .card__list li span {
    padding-bottom: 14px;
    display: inline-block;
    color: #1F1F1F;
    font-size: 13px;
}

.mission__sections .card__list .list__heading h3 {
    font-size: 30px;
    color: #1F1F1F;
    margin-bottom: 10px;
}

.mission__sections .card__list .list__heading p {
    color: #1F1F1F;
}

@media screen and (max-width:767.98px) {
    .mission__sections .card__list  li {
        width: calc(50% - 5px);
        height: auto;
        border: 1px solid #A95454;
        border-radius: 130px 130px 0px 0px;
        text-align:center;
        padding: 30px 10px 10px 10px;
        min-width: 163px;
        margin-bottom: 30px;
    }
}